<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

   <bean id="oSSClient" class="com.aliyun.oss.OSSClient">
       <constructor-arg value="LTAIPS52zmnqkfnw" name="accessKeyId"></constructor-arg>
       <constructor-arg value="dGwcc5wkPgk2jCfMIQaOk1mwJ9yY4g" name="secretAccessKey"></constructor-arg>
       <constructor-arg value="oss-cn-beijing.aliyuncs.com" name="endpoint"></constructor-arg>
   </bean>


</beans>